- name: Disable default NodeJS Version Module
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enable NodeJS module for V20
  ansible.builtin.shell: dnf module enable nodejs:20 -y

- name: Install NODEJS
  ansible.builtin.dnf:
    name: nodejs
    state: latest

- name: Adding Application User
  ansible.builtin.user:
    name: Expense

- name: Clean the Old Content
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download and Extract App Content
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/expense-backend-v2.zip
    des: /app
    remote_src: yes

- name: Download NODEJS dependencies
  community.general.npm:
    path: /app
    state: latest

- name: Copy Backend Service File
  ansible.builtin.copy:
    src: backend.service
    dest: /etc/systemd/system/backend.service

- name: Install MySQL Client
  ansible.builtin.dnf:
    name: mysql
    state: latest

- name: Install Python MySQL Client
  ansible.builtin.dnf:
    name:
      - PyMySQL
      - cryptography
    state: pip3.9

- name: Load Schema
  community.mysql.mysql_db:
    state: import
    name: all
    target: /app/schema/backend.sql
    login_user: Expense
    login_password: ExpenseApp@1
    login_host: mysql-dev.vdevops.com

- name: Start Backend Service
  ansible.builtin.systemd.service:
    name: backend
    state: restarted
    enable: yes
    daemon_reload: yes
