- name: Install Nginx
  ansible.builtin.dnf:
    name: nginx
    state: latest

- name: Copy Expense Nginx Configuration
  ansible.builtin.template:
    src: expense.conf
    dest: /etc/nginx/default.d/expense.conf
    owner: "{{ app_user }}"
    group: "{{ app_user }}"


- name: Importing App-Pre-Req common
  ansible.builtin.import_role:
    name: common
    tasks_from: app-pre-req

- name: Importing App-Pre-Req common
  ansible.builtin.import_role:
    name: newrelic
    tasks_from: nginx

- name: Restart Nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: yes
