- name: Install Node Exporter
  ansible.builtin.import_role:
    name: prometheus
    tasks_from: node_exporter

- name: Install MySQL Server
  ansible.builtin.dnf:
    name: mysql-server
    state: latest

- name: Start MySQL service
  ansible.builtin.systemd_service:
    name: mysqld
    state: started
    enabled: yes

- name: Install Python MySQL Client
  ansible.builtin.pip:
    name:
      - PyMySQL
      - cryptography
    executable: pip3.9

- name: Load Schema
  community.mysql.mysql_info:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_host: mysql-{{env}}.vdevops.cloud
    filter: version
  register: mysql_connection_output
  ignore_errors: yes

#- name: Print
#  ansible.builtin.debug:
#    msg: "{{mysql_connection_output}}"

- name: Setup MySQL password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass {{ mysql_root_password }}
  when: mysql_connection_output.failed is true